<h2>Learn How to Dance!</h2>


<!-- TODO: search bar -->

<% if @sections.any? %>
  <ul>
    <% @sections.each() do |section| %>
      <li>
        <%= link_to section.name, section_path(section) %> |
        <%= link_to "Edit", edit_section_path(section) %> |
        <%= link_to "Delete", section_path(section),
                              :data => {:confirm => "You sure m8?",
                                        :method => "delete"}%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    There will be no dancing in Bomont
  </p>
<% end %>

<%= link_to 'Add Section', new_section_path %>
