<h1>Section Page</h1>

<h3><%=@section.name %>|<%= link_to "Edit", edit_section_path %><%= link_to "Delete", section_path(@section),
                                                                                      :data => {:confirm => "You sure m8?",
                                                                                                :method => "delete"}%></h3>
