<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#video" aria-controls="video" role="tab" data-toggle="tab">Video</a></li>
    <li role="presentation"><a href="#text" aria-controls="text" role="tab" data-toggle="tab">Text</a></li>
    <li role="presentation"><a href="#cheat-sheet" aria-controls="cheat-sheet" role="tab" data-toggle="tab">Cheat Sheet</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="video">
      <iframe width="560" height="315" src="<%= @lesson.video_url %>" frameborder="0" allowfullscreen></iframe>
    </div>
    <div role="tabpanel" class="tab-pane" id="text">
      <p>
        <%= @lesson.text %>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="cheat-sheet">
      <p>
        <%= @lesson.cheat_sheet %>
      </p>
    </div>
  </div>
</div>
